body{
	background: #1A1A1A;
	font-family: 'Arial', sans-serif;
}



/* Logo */
#logo{
	margin-left: 15px;
}



/* Main */
h1{
	font-family: Arial;
	color: #f2f2f2;
	text-align: center;
}
/*arrival*/
h2{
	font-family: Arial regular;
	color: #f2f2f2;
	text-align: center;
	letter-spacing: 0.2em;
	padding-top: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}
#route{
	background: #3D3D3D;
	border-radius: 12px;
}
p.arrival{
	color: #BB86FC;
	text-align: center;
}
p#arrivalBig{
	color: #BB86FC;
	text-align: center;
	margin-bottom: 0px;
}
p{
  	display: block;
  	text-align: center;
}
hr{
	border: 1.5px solid #8B8B8B;
  	border-radius: 0.5px;
  	margin-left: 43px;
  	margin-right: 43px;
  	margin-top: 20px;
}
#compass{
	margin-bottom: 0px;
	margin-top: 6px;
	margin-right: 0px;
	margin-left: 7px;
	float: left;
}
#flag{
	margin-bottom: 0px;
	margin-top: 4px;
	margin-left: 1px;
	margin-right: 7px;
	float: right;
}



/* Speed content */
#content4{
	background: #3D3D3D;
	border-radius: 12px;
	height: auto;
}
.responsive_speed{
	width: 90%;
  	max-width: 400px;
  	height: auto;
  	display: block;
  	margin: auto;
 }



/* Slideshow  */
.responsive_photo{
  	border-radius: 12px;
}
#slideshow{
	border-radius: 12px;
	height: auto;
}



/* Clock */
#content3{
	background: #1A1A1A;
	height: auto;
	border-radius: 12px;
}
#clock {
  transform: translateY(33%);
}
#time {
  font-family: 'Arial';
  color: #BB86FC;
  text-align: center;
  margin-bottom: 0px;
}
#date {
  font-family: 'Arial';
  text-align: center;
  color: #8B8B8B;
  margin-top: 5px;
}



/* Temperature */
#content5{
	background: #3D3D3D;
	border-radius: 12px;
	text-align: center;
}
.responsive_degree{
	width: 100%;
  	max-width: 500px;
  	height: auto;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.inside{
	color: #8B8B8B;
	margin-top: 0px;
}
